* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* 头部 */
header {
  width: 100%;
  height: 62px;
  background: #421702;
}
.navbar {
  padding: 8px 120px;
  z-index: 999;
  width: 100%;
}
.navbar-brand {
  float: left;
}
.navbar-toggler {
  float: right;
}
.navbar-brand i {
  color: #F8513E;
}
.bg-light {
  background-color: transparent !important;
}
.navbar .navbar-brand {
  color: white;
  font-size: 24px;
}
.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #F8513E;
}
.navbar-nav .bianse {
  background: #F8513E;
}
.bianse .nav-link {
  color: white;
}
main {
  width: 100%;
  height: 1000px;
  background: #F7E2D8;
}
main .innerheader {
  width: 100%;
  border-top: 1px solid #FFFFFF;
  height: 107px;
  background: #DE8C63;
  text-align: center;
  line-height: 107px;
  font-size: 30px;
  color: white;
}
main .biaoti {
  width: 85%;
  margin: 0 auto 30px;
  height: 189px;
  padding-top: 50px;
}
main .biaoti h3 {
  color: #212121;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .biaoti h3 span {
  color: #f8513e;
}
main .biaoti p {
  font-size: 14px;
  color: #656565;
}
main .biaodan {
  width: 100%;
  height: 500px;
  padding: 0;
}
main .biaodan .bds {
  width: 100%;
  height: 100%;
  padding: 0;
}
main .biaodan .bds .ress {
  padding: 0;
}
.bds .fom {
  width: 100%;
  height: 100%;
}
.bds .fom form .inp {
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
}
.bds .fom form .inp input {
  border: none;
  outline: none;
  width: 80%;
  height: 99%;
  margin: 0 auto;
  display: block;
  background: transparent;
  padding: 4px;
  border-bottom: 1px solid #9e9e9e;
  transition: all 0.5s ease-in;
}
.bds .fom form .inp input:focus {
  border-bottom: 2px solid #f8513e;
}
.bds .fom form .inp input:input::-webkit-input-placeholder {
  color: #f8513e;
}
.bds .fom form .area {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 20px;
}
.bds .fom form .area .tex {
  width: 100%;
  height: 199px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  border-bottom: 1px solid #9E9E9E;
}
.bds .fom form .tex:focus {
  border-bottom: 2px solid #f8513e;
}
.bds .fom form button {
  width: 120px;
  height: 36px;
  border: none;
  outline: none;
  background: #F8513E;
  float: right;
  margin-right: 55px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: white;
}
footer {
  width: 100%;
  height: 350px;
}
footer .containers {
  padding: 50px 0;
  width: 100%;
  height: auto;
  background: #391300;
}
.containers .cont {
  width: 970px;
  margin: 0 auto;
  height: auto;
}
footer .sub-footer {
  width: 100%;
  height: 104px;
  padding-top: 29px;
  border-top: 1px solid #391300;
  background: #2F1102;
}
.cont .sele {
  width: 100%;
  height: 100%;
}
.cont .sele li {
  float: left;
  color: #BB9684;
}
.cont .sele li h5 {
  width: 100%;
  height: 15px;
  font-size: 14px;
  color: white;
  margin: 15px 0;
}
.cont .sele li address {
  font-size: 14px;
}
.cont .sele li p {
  font-size: 14px;
}
.cont .sele li .lie {
  width: 100%;
  height: auto;
}
.cont .sele li .lie li {
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 2px 0;
  font-size: 14px;
}
footer .row {
  width: 955px;
  height: 54px;
  margin: 0 auto;
}
footer .row p {
  width: 100%;
  height: 22px;
  display: block;
  font-size: 12px;
  color: #f7e2d8;
  margin-bottom: 0;
  float: left;
}
.row .natwork {
  width: 230px;
  height: 32px;
  margin-bottom: 0px;
  margin-left: 725px;
  display: block;
}
.row .natwork li {
  width: 30px;
  height: 25px;
  padding-top: 5px;
  margin: 0 5px;
  border: 1px solid #391300;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  color: white;
}
.rete {
  width: 32px;
  height: 32px;
  background: #F8513E;
  text-align: center;
  line-height: 32px;
  position: fixed;
  bottom: 0;
  right: 40px;
  color: white;
}
